body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14 px;
  line-height: 26 px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  color: #000000;
}

.main-navigation,
.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.site-navigation a:hover {
  color: #83b1d2;

}

.main-navigation a:active,
.site-navigation a:active {
  color: #b3b3b3;
}

.main-title {
  font-size: 21 px;
  line-height: 26 px;
  text-align: center;
}
.main-title p {
	text-align: center;
}

.characteristic h2,
.landmarks h2 {
  font-size: 21 px;
  line-height: 21 px;
  text-align: center;
}

.characteristic,
.landmarks {
  color: #ffffff;
  background-color: #81b3d2;
}

.characteristic p,
.landmarks p {
  font-size: 14 px;
  line-height: 21 px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.infrastructure-item h3,
.peculiarity h3 {
  font-size: 21 px;
  line-height: 21 px;
  text-align: center;
  color: #000000;
}

.infrastructure-item p,
.peculiarity p {
  text-align: center;
}

.peculiarity {
  background-color: eeeeee;
}

.booking h2 {
  font-size: 30 px;
  line-height: 36 px;
  text-align: center;
}

.booking-info {
  font-size: 14 px;
  line-height: 24 px;
  text-align: center;
}

.index-form p {
  font-size: 14 px;
  line-height: 26 px;
}

.button input {
	font: inherit;

  font-size: 21 px;
  line-height: 26 px;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	
	border: none;
	/*background-color: #766357;*/
}

.button-search input {
  background-color: #81b3d2;
}

.button input:hover,
.button input:focus {
	background-color: #669ec1;
}

.button input:active {
	background-color: #5596be;
}

.index-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.index-form input:focus {
  background-color:#ffffff;

}

.index-form input:active {
  background-color: #ebebeb;

}