body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  color: #000000;
}

.main-navigation,
.site-navigation {
  list-style: none;
}

.main-navigation a,
.site-navigation a,
.catalog-description a {
  color: #000000;
}

.site-navigation a:hover,
.catalog-description a:hover,
.footer-copyright a:hover {
  color: #83b1d2;
}

.site-navigation a:active,
.catalog-description a:active,
.footer-copyright a:active {
  color: #b3b3b3;
}

.main-title,
.sort-find,
.catalog-description a {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main-title p {
	text-align: center;
}

.inner-page {
  color: #766357;
}

.characteristic h2,
.landmarks h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.characteristic,
.landmarks {
  color: #ffffff;
  background-color: #81b3d2;
}

.characteristic p,
.landmarks p {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.infrastructure-item h3,
.peculiarity h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.infrastructure-item p,
.peculiarity p {
  text-align: center;
}

.peculiarity {
  background-color: #eeeeee;
}

.booking h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.booking-info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.index-form p {
  font-size: 14px;
  line-height: 26px;
}

.button input {
	font: inherit;
  font-size: 21px;
  line-height: 26px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}

.button input[type="submit"] {
  color: #ffffff;
  background-color: #82b3d3;
}

.button input[type="submit"]:hover {
  color: #ffffff;
  background-color: #669ec1;
}

.button input[type="submit"]:active {
  color: #88b6d0;
  background-color: #5596be;
}

.button input[type="button"]:hover {
  color: #ffffff;
  background-color: #604e44;
}

.button input[type="button"]:active {
  color: #857870;
  background-color: #503e34;
}

.button input[type="button"] {
  color: #ffffff;
  background-color: #766257;
}

.index-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.index-form input:focus {
  background-color:#ffffff;

}

.index-form input:active {
  background-color: #ebebeb;

}

.main-footer {
  background-color: rgba(225, 225, 225, 0.7);
}
.inner-footer {
  background-color: #fefefe;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright a {
  color: #231f20;
}

.footer-copyright .botton:hover {
  color:#7eb3d3; 
}

.footer-copyright .botton:active  {
  color: #bcbabb;
}

.sort-selection,
.sort-price,
.sort-tipe {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-description p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-description a {
  font-weight: 700;
}

.sort-tipe {
  color: #cacaca;
  border-bottom: 1px dashed #0088CC;
}

.sort-price {
  color: #95bed8;
}

.catalog-info a {
  font-size: 14px;
  line-height: 21px;
  color: #fcffff;
  background-color: #82b3d3;
}

.catalog-info a:hover {
  background-color: #669ec1;
}

.catalog-info a:active {
  color: #89b5d0;
  background-color: #5596be:;
}

.catalog-booking {
  background-color: #766257;
}

.catalog-booking:hover {
  background-color: #604e44;
}

.catalog-booking:active {
  color: #877871;
  background-color: #503e34;
}

.catalog-rating {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #cdcdcd;
  background-color: #f2f2f2;
}
